body {
    background-color: rgb(48, 44, 44);
    color: azure;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
}

button {
    background-color: azure;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
    text-align: center;

}

input {
    background-color: azure;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

Link {
    color: azure;
}